@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: white;
}

.btn-primary {
  color: white;
  background-color: #47A7DC;
  border: none;
 }
 
 .btn-primary:hover {
   background-color: #163364;
 }
 
 .btn-outline.btn-secondary {
   color: #47A7DC;
   background-color: white;
   border: #47A7DC 1px solid;
 }
 
 .btn-outline.btn-secondary:hover {
   background-color: #47A7DC;
   color: white;
   border: none;
 }
